p,ul,li,ol,h1,h2,h3,h4,h5,h6,dd,dt,dl,body{
	padding:0px;
	margin:0px;
	list-style-type:none;
}
a{
	list-style-type:none;
	text-decoration:none;
	color:#aaa;
}
img{
	padding:0px;
	margin:0px;
}
.body{
	width:1900px;
	margin:0px auto;
	height:auto;
	font-size:12px;
}

/*导航*/
.new{
	width:100%;
	height:36px;
	background-color:#f4f4f4;
	border-bottom:1px solid #aaaaaa;
}
.new div{
	width:1200px;
	margin:0px auto;
}
.new p{
	line-height:36px;
	display:inline;
}
.new a{
	color:#aaaaaa;
}
.new p span{
	display:inline-block;
	width:40px;
	height:20px;
	background-color:#d6133b;
	color:#fff;
	text-align:center;
	line-height:20px;
}
.right{
	float:right;
	height:12px;
	padding:12px 0px;
}
.new li{
	width:80px;
	float:left;
	border-right:1px solid #aaa;
	text-align:center;
}
.new li img{
	position:relative;
	left:5px;
}
.new dl{
	display:none;
}
.new dt{
	width:80px;
	padding-top:29px;
	text-align:center;
	line-height:20px;
}
.new dd{
	width:80px;
	height:20px;
	padding-top:8px;
	text-align:center;
	position:relative;
	right:5px;
	line-height:20px;
}
.new li:hover dl{
	width:80px;
	height:100px;
	display:block;
	background-color:#fff;
	position:absolute;
	top:-20px;
	z-index:99;
}
/*头*/
header{
	width:1200px;
	height:95px;
	margin:0px auto;
	background:url(../img/lezhi.png) no-repeat;
	background-position:left center;
}
.input{
	margin-left:350px;
	margin-top:10px;
	width:530px;
	padding-top:20px;
	display:inline-block;
}
.input_text{
	width:390px;
	height:30px;
	border:2px solid #d6133b;
	padding-left:70px;
	float:left;
	color:#aaaaaa;
}
.input_but{
	width:65px;
	height:36px;
	background-color:#d6133b;
	border:0px;
	float:left;
	color:#ffffff;
}
.input div{
	width:60px;
	height:20px;
	border-right:1px solid #d6133b;
	position:absolute;
	top:75px;
	text-align:center;
	line-height:20px;
}
.input p{
	line-height:25px;
	color:#aaaaaa;
}
.head_ser{
	width:125px;
	height:40px;
	background-color:#fafafa;
	float:right;
	margin:30px 10px 0px 0px;
	background-image:url(../img/箭头.png);
	background-repeat:no-repeat;
	background-position:right center;
}
.head_ser img{
	height:20px;
	margin:10px;
}
.head_ser span{
	margin-bottom:10px;
	position:relative;
	bottom:15px;
}
.mainnav{
	width:100%;
	height:45px;
	margin:0px auto;
	background-color:#d6133b;
	font-size:16px;
}
.mainnav div{
	width:1200px;
	margin:0px auto;
}
.mainnav li{
	width:200px;
	line-height:45px;
	text-align:center;
	float:left;
	color:#ffffff;
}
.mainnav li img{
	margin:0px 0px 3px 10px;
}
.mainnav li:hover{
	background-color:#a60425;
}
/*身体*/
section{
	width:1200px;
	margin:0px auto;
	margin-top:40px;
	font-size:15px;
}
.sec_left{
	width:210px;
	display:inline-block;
	height: 1000px;
}
.dua{
	padding:15px;
	border:1px solid #aaa;
	width:1168px;
	height:450px;
	background-color:#f7fefe;
}
.dua_left{
	width:320px;
	float:left;
}
.dua_left div div{
	width:50px;
	height:49px;
	text-align:center;
	padding-top:1px;
	float:left;
	border:1px solid #aaa;
	margin:10px 5px;
}
.dua_img{
	border-bottom:1px dotted #aaa;
}
.dua_left div div:hover{
	border:1px solid #fff;
	background-color:#e77174;
}
.dua_left div{
	float:left;
	font-size:12px;
	color:#aaa;
	line-height:22px;
	text-align:center;
}
.dua_select{
	border:1px solid #aaa;
	height:22px;
	width:55px;
	border-radius:5px;
	margin-top:20px;
}
.dua_select1{
	border:1px solid #aaa;
	height:22px;
	width:80px;
	margin-left:10px;
	border-radius:5px;
	margin-top:20px;
}
.dua_select2{
	border:1px solid #aaa;
	height:22px;
	width:80px;
	margin-left:10px;
	border-radius:5px;
	margin-top:20px;
}
#dua_select3{
	border:1px solid #aaa;
	height:22px;
	width:40px;
	float:right;
	border-radius:5px;
	margin-top:20px;
}
.dua_cen{
	width:370px;
	float:left;
	margin-left:50px;
}
.dua_cen p{
	line-height:50px;
	color:#aaa;
}
.p_span{
	float:right;
}
.yellow{
	color:#f78b0b;
	font-size:16px;
}
.dua_cen p img{
	float:right;
	position:relative;
	top:17px;
}
.dua_cen div{
	height:50px;
	line-height:50px;
	color:#aaa;
}
.dua_cen div span{
	color:black;
}
.dua_cen div div{
	width:60px;
	height:30px;
	position:relative;
	top:10px;
	background-color:#fff;
	display:inline-block;
	border:1px solid #aaa;
	margin:0px 5px;
}
.dua_cen input{
	width:150px;
	height:30px;
	border-radius:5px;
	border:0px;
	text-align:center;
	color:#fff;
}
.dua_input{
	background-color:#d6133b;
}
.dua_input1{
	background-color:#e77608;
}
.dua_cen img{
	position:relative;
	left:-130px;
	top:5px;
}
.dua_right{
	width:270px;
	height:420px;
	float:right;
	border:1px solid #aaa;
	background-color:#fff;
}
.dua_right div{
	padding-left:20px;
}
.dua_head{
	height:30px;
	line-height:30px;
	font-weight:bold;
	background-color:#f7f8f8;
	border-bottom:1px solid #aaa;
}
.dua_com{
	height:60px;
	border-bottom:1px solid #aaa;
	line-height:60px;
}
.dua_com div{
	float:right;
	width:110px;
	height:10px;
	background-color:#e77174;
	border-radius:5px;
	position:relative;
	right:14px;
	top:24px;
}
.dua_grade{
	border-bottom:1px solid #aaa;
	height:90px;
	line-height:30px;
}
.dua_grade span{
	float:right;
	margin-right:10px;
}
.dua_address{
	line-height:40px;
	border-bottom:1px solid #aaa;
}
.dua_right input{
	width:100px;
	height:20px;
	border:0px;
	border-radius:5px;
	color:#fff;
	text-align:center;
	position:relative;
	top:30px;
	left:20px;
}
.ri_input2{
	height:80px;
}
.ri_input{
	background-color:#35d3c9;
}
.ri_input1{
	background-color:#e77174;
}
.ri_input2>img{
	position:relative;
	top:32px;
	right:85px;
}
/*二维码*/
.sec_tow{
	width:210px;
	height:210px;
	border:1px solid #aaa;
	margin-top: 20px;
}
.sec_tow div{
	height: 30px;
	line-height:30px;
	background-color:#f7f7f7;
	padding-left: 20px;
	font-weight: bold;
}
.sec_tow img{
	position: relative;
	left: 25px;
	top:12px;
}
.sec_sin{
	width: 190px;
	height: 30px;
	line-height:30px;
	margin-top: 10px;
	padding-left: 20px;
	font-weight: bold;
	border:1px solid #aaa;
}
.sec_ranking{
	width: 210px;
	height: 500px;
	border:1px solid #aaa;
	margin-top: 10px;
}
.sec_ify{
	width: 210px;
	height: 140px;
	border: 1px solid #aaa;
	margin-top: 10px;
}
.sec_ify ol{
	height: 30px;
	background-color: #f9f9f9;
	color:#aaa;
	border-bottom:1px solid #aaa;
}
.sec_ify li{
	float:left;
	width: 50px;
	line-height: 30px;
	text-align: center;
}
.ify_input{
	height: 45px;
	border-bottom: 1px solid #aaa;
}
.ify_text{
	height:30px;
	width: 150px;
	color: #aaa;
	line-height: 30px;
	margin-top: 5px;
}
.ify_but{
	width: 40px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin: 5px 0px 0px 5px;
}
.ify_foot{
	line-height: 35px;
	font-weight: bold;
	padding-left: 40px;
}
.ran_head{
	height: 30px;
	line-height:30px;
	background-color:#f7f7f7;
	padding-left: 20px;
	font-weight: bold;
	border-bottom: 1px solid #aaa;
}
.ran_new{
	height: 30px;
	border-bottom: 1px solid #aaa;
}
.ran_new div{
	text-align: center;
	height: 28px;
	position: relative;
	top: 2px;
	border:1px solid #aaa;
	border-bottom: 0px;
	border-radius:5px 5px 0px 0px;
	line-height:28px;
	float: left;
	margin-left: 10px;
}
.ran_new div:hover{
	background-color: #f7f7f7;
	color:#aaa;
	border:1px solid #aaa;
}
.sec_ranking li{
	height: 70px;
	padding-left: 10px;
	border-bottom: 1px dotted #aaa;
}
.sec_ranking li>img{
	width: 60px;
	margin-top: 5px;
	float:left;
	border: 1px solid #aaa;
}
.sec_ranking li div{
	float:left;
	font-size: 12px;
	line-height: 20px;
	padding-top: 5px;
	padding-left:2px;
}
.sec_ranking li p{
	color: #aaa;
}
.sec_ranking li p img{
	margin-right: 5px;
}
.sec_ranking li p span{
	font-weight: bold;
	color:black;
}
.ran_foot{
	border: 1px solid #ffd863;
	background-color: #fef4b1;
	height: 30px;
	width:130px;
	margin-left: 40px;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	margin-top: 25px;
}
.sect_right{
	width: 950px;
	height:1000px;
	float: right;
	margin-top: 20px;
}
.rig_new{
	border:1px solid #aaa;
	height: 30px;
	background-color: #fcfcfc;
}
.rig_new li{
	float: left;
	width:90px;
	height: 31px;
	line-height: 30px;
	border-right: 1px solid #aaa;
	border-left: 1px solid #aaa;
	text-align: center;
	margin-left:-1px;
}
.rig_new li div{
	height:40px;
	width:938px;
	padding-left:10px;
	display:none;
	text-align:left;
	color:#aaa;
	border:1px solid #aaa;
	border-top:0px;
	position:relative;
	left:-1px;
	bottom:2px;
}
.rig_new li div span{
	margin-left:200px;
}
.rig_new li:hover{
	height: 35px;
	position:relative;
	top:-5px;
	border-top:1px solid #e45054;
	border-bottom:0px;
	background-color:#fff;
	line-height:37px;
}
.rig_new li:hover div{
	display:block;
}
.sec_pic{
	position:absolute;
	top:830px;
	width:950px;
	text-align:left;
}
/*结尾*/
footer{
	clear:left;
	background-color:#f5f5f5;
	margin:0px auto;
}
footer>div{
	width:1200px;
	margin:0px auto;
	height:320px;
	border-bottom:1px solid #aaa;
}
footer>div>div{
	width:1100px;
	margin:0px auto;
}
footer ul li{
	width:255px;
	height:60px;
	float:left;
	padding:20px 0px 20px 20px;
}
footer ul div{
	float:right;
	width:160px;
	line-height:20px;
	padding:10px 0px 0px 20px;
}
footer ul p{
	color:#aaa;
}
footer ol{
	width:140px;
	height:150px;
	border-right:1px solid #aaa;
	float:left;
}
footer ol li{
	height:25px;
	line-height:25px;
	padding-left:20px;
}
.foot_li{
	font-weight:bold;
	font-size:14px;
}
footer h3{
	width:140px;
	line-height:20px;
}
footer>span{
	width:500px;
	margin:0px auto;
	display:block;
	color:#aaa;
	line-height:30px;
}